.Board {
  & > section {
    margin: 80px 0;
  }

  .loading {
    display: block;
    max-width: 100px;
    margin: 50px auto;
  }
}

.membersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 660px;
  margin: auto;
  padding: 0;

  a {
    text-decoration: none;
    color: black;
  }
}