section .infoContainer {
  max-width: 245px;
  text-align: center;
  margin-bottom: 30px;
  list-style: none;

  h2 {
    color: maroon;
    font-size: 1em;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }

  img {
    max-width: 160px;
    background-color: #333;
    padding: 2px 3px 0;
    border-radius: 3px;
  }

  p {
    margin: 0;
  }
}